/* CSS reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth ;
    font-family: Arial, Helvetica, sans-serif;
}
/*
    1. vị trí
    2. kích thước
    3. màu sắc
    4. kiểu dáng ( kiểu chữ, hình tròn, vuông, tam giác, ...)
 */
 /* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important; 
}

.text-center {
    text-align: center;
}

.icon-black {
    color: #000;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333%;
}

/* Main */

#wrapper {

}

#header {
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav .nav-down-arrow {
    font-size: 12px;
}

#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

.subnav li a:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display:  none;
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38.5px;
}

/* #nav .subnav li {
    width: 100%;
} */

#Slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/F8-TheBand-WebSite/Assets/Img/chicago.jpg) top center / cover no-repeat;
}

#Slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}

#Slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#Slider .text-decreption {
    font-size: 15px;
}

#Content {

}

#Content .tour-section {
    background-color: #000;
}

#Content .section-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#Content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    
}

#Content .section-sub-heading {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin: 25px 0;
    opacity: 0.6;
}

#Content .about-text {
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
    margin: 25px 0;
}

#Content .bandmembers {
    margin-top:48px;
}

#Content .bandmembers::after {
    content: "";
    display: block;
    clear: both;
}


#Content .name {
    margin-bottom: 15px;
    font-size: 15px;
}

#Content .menber-img {
    width: 154px;
    border-radius: 4px;
}

#Content .book-ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.book-ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.book-ticket-list .sold-out {
    background-color: #f44336;
    padding: 3px 4px;
    color: #fff;
    margin-left: 16px;
}

.book-ticket-list .tickets-number {
    
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;    
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}


/* Place */
.place-list {
    margin-top: 32px;
    margin-bottom: 48px;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.4;
}

.place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
margin-top: 15px;
color: #757575;
}

.place-desc {
margin-top: 15px;
line-height: 1.4;
}

.place-Ticket-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-Ticket-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Context -fonrm */
.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor i[class*="ti-"] {
    width: 40px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    background: #000;
    color: white;
    padding: 9px 12px;
    font-size: 15px;
    float: right;
    border: none;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

.map-section {
    width: 100%;
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;

}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.copy-right a:hover,
#footer .social-list a:hover {
    opacity: 0.5;
}
.copy-right {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

.copy-right a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}


.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
    background-color: #f44336;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    display: flex;
}

.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 1s;
}

.modal-body {
    padding: 16px;
}

.label-modal {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.modal-input {
    border:1px #ccc solid;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

#buy-tickets {
    margin-top: 16px;
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}